<form method="get" action="/quizes">
		<input type="text" name="search" placeholder="buscar pregunta"/>
		<input type="submit" id="btnBuscar" value="Buscar" />
	</form>
	<a href = "/quizes/new"><button type = "button">Crear pregunta</button></a>

<table>
	<% var i; for (i=0; i < quizes.length; i++) { %>
		<tr>
			<td><a href = "quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
			<td><a href = "quizes/<%= quizes[i].id %>/edit"><button>editar</button></a></td>
		</tr>
	<% } %>
</table>